body {
    font-family: Arial, sans-serif;
    background-color: rgb(36, 46, 114);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 5rem auto;
    padding: 20px;
    background-color: #978c8c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.task-list {

    margin: 20px 0;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    background-color: #d3ffd3;
}

.actions {
    display: flex;
    gap: 10px;
}

.edit-btn,
.delete-btn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    input[type="text"] {
        width: 60%;
    }
}

@media (max-width: 576px) {
    input[type="text"] {
        width: 50%;
    }
}